/*Pied de page*/
.footer {
    height: 85px; 
    background-color: white; 
}

.footerright i {
    font-size: 2.5em;
    margin-right: 50px;
    color: blue;
    padding-top: 17px;
}

.footerright{   
    float: right;
}

.footerleft{
    float: left;
    margin-left: 50px;
}

