@charset "UTF-8";
@media all and (max-width: 900px) {
  #Section_principal {
    margin: 0;
  }
  #Section_principal img {
    display: none;
  }
  #Section_principal .liste_conseillère {
    flex-direction: column;
  }
  #Section_principal .center h1 {
    font-size: 2em;
  }
  #Section_principal .soustitre_index {
    font-size: 1em;
  }

  .image_profil {
    display: none;
  }

  .text_profil {
    width: 94%;
    margin-top: 10px;
  }
  .text_profil p {
    font-size: 1em;
  }

  .enveloppe {
    display: none;
  }

  .footerright {
    display: none;
  }

  .question {
    font-size: 0.9em;
  }
}
@media all and (min-width: 901px) and (max-width: 1499px) {
  .image_profil {
    display: none;
  }

  .text_profil {
    width: 60%;
    margin-top: 0;
  }

  .enveloppe {
    width: 280px;
  }

  .filtre {
    display: none;
  }

  /*Section produit*/
  .img1 {
    height: 150px;
  }

  .colun2 {
    order: 1;
  }

  .liste, .liste2 {
    font-size: 0.8em;
  }

  .liste2 {
    flex-direction: column;
  }

  .colun1 {
    order: 2;
  }

  .colun1 h1 {
    width: 90%;
    font-size: 3em;
  }

  .blockgrey, .blockwhite {
    height: 100%;
    flex-direction: column;
  }

  .colun2 img, .colun2_2 img, .colun2_1 img {
    height: 200px;
    width: 94%;
  }
}
@media all and (max-width: 900px) {
  .ordinateur {
    display: none;
  }

  .logomobile {
    display: block;
    margin: 0 auto;
  }

  .mobilemenu {
    height: 120px;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
  }
  .mobilemenu input {
    display: none;
  }

  .open {
    background-color: #3c3c3c;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    top: 8px;
  }

  .open:before {
    content: "";
    background-color: #3c3c3c;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: -8px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }

  .open:after {
    content: "";
    background-color: #3c3c3c;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 4px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }

  .menuOpen {
    width: 24px;
    height: 20px;
    display: block;
    padding: 38px 15px 15px 15px;
    cursor: pointer;
    float: left;
  }

  .menuOpen:hover .open:before {
    top: -9px;
  }

  .menuOpen:hover .open:after {
    top: 5px;
  }

  .menu {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background: #fce1d6;
  }

  .menu label {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-size: 100%;
    cursor: pointer;
  }

  .menu .menuContent {
    position: relative;
    top: 50%;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -280px;
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }

  .menu ul li a {
    display: block;
    color: #aa6fbf;
    text-decoration: none;
    transition: color 0.2s;
    font-family: "Kaushan";
    text-transform: uppercase;
    padding: 10px 0;
  }

  .menu ul li a:hover {
    color: purple;
  }

  .menu ul li:hover {
    background: white;
  }

  .menuEffects {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }

  .menuEffects ul {
    transform: translateY(0%);
    transition: all 0.5s;
  }

  #menuToggle:checked ~ .menuEffects {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }

  #menuToggle:checked ~ .menuEffects ul {
    opacity: 1;
  }

  #menuToggle:checked ~ .menuOpen .open {
    background-color: transparent;
  }

  #menuToggle:checked ~ .menuOpen .open:before {
    content: "";
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  #menuToggle:checked ~ .menuOpen .open:after {
    content: "";
    background-color: white;
    transform: rotate(-45deg);
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
  }

  #menuToggle:not(:checked) ~ .menuEffects ul {
    transform: translateY(-30%);
  }

  .menuContent .reseaumobile {
    margin: 5px 10px 0 10px;
  }
}
/*Responsive Tablette*/
@media all and (min-width: 901px) and (max-width: 1499px) {
  nav a {
    font-size: 1.2em;
  }
}
@media all and (max-width: 900px) {
  form {
    padding: 16px;
    width: 90%;
  }
}
@media all and (min-width: 901px) and (max-width: 1499px) {
  form {
    width: 50%;
  }
}
@media all and (max-width: 900px) {
  .footerleft p {
    margin-top: 8px;
  }

  /*Pied de page*/
  .footergrey {
    height: 120px;
  }
}
@media all and (max-width: 900px) {
  /*CSS cache block*/
  .filtre {
    display: none;
  }

  .responsive li {
    display: none;
  }

  .chiffretablette {
    display: none;
  }

  .img2 {
    display: none;
  }

  /*Banniere du site */
  .banniere {
    height: 280px;
  }

  /*Css général*/
  .title {
    font-size: 3em;
  }

  .card {
    margin-left: 0;
    width: 100%;
  }

  .card img {
    height: 180px;
  }

  /*Section produit*/
  .img1 {
    height: 150px;
  }

  .colun2 {
    order: 1;
  }

  .liste, .liste2 {
    font-size: 0.8em;
  }

  .liste2 {
    flex-direction: column;
  }

  .colun1 {
    order: 2;
  }

  .colun1 h1 {
    width: 90%;
    font-size: 3em;
  }

  .blockgrey, .blockwhite {
    height: 100%;
    flex-direction: column;
  }

  .colun2 img, .colun2_2 img, .colun2_1 img {
    height: 200px;
    width: 94%;
  }

  /*Formulaire de contact*/
  .nom {
    margin-left: 0;
    margin-top: 15px;
  }

  .nom input {
    margin-left: 50px;
  }

  .prenom input {
    margin-left: 30px;
  }

  .formulaire {
    display: block;
  }

  .contact {
    width: 90%;
    margin-left: 20px;
  }

  .avis, .avis2 {
    width: 90%;
    text-align: center;
  }

  .avis img, .avis2 img {
    width: 55%;
    margin-left: 0;
  }

  .avis {
    margin-top: 0;
  }

  .avis2 {
    margin-top: 2%;
  }

  .mail, .message, .question {
    margin-top: 15px;
  }

  /*Menu Hamburger version mobile*/
  .checkbox-container {
    display: block;
    float: left;
    width: 20px;
    height: 50px;
    margin-top: 50px;
    position: relative;
  }

  .checkbox-trigger {
    opacity: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 20px;
    cursor: pointer;
    z-index: 5;
  }

  .hamburger-menu, .hamburger-menu::before, .hamburger-menu::after {
    display: block;
    position: absolute;
    background: black;
    width: 40px;
    height: 4px;
    margin: 1.3em 3em;
    transition: 0.3s;
  }

  .hamburger-menu::before, .hamburger-menu::after {
    content: "";
    position: absolute;
    margin: -0.7em 0 0;
    transition: width 0.7s ease 0.3s, transform 0.7s ease 0.3s;
  }

  .hamburger-menu::after {
    margin-top: 0.7em;
  }

  .hamburger-menu {
    position: relative;
    display: block;
    margin: 0;
    left: 20px;
    margin-top: 1.45em;
    margin-right: 0.35em;
    margin-left: 0.35em;
    margin-bottom: 1.45em;
    transition: width 0.3s ease;
  }

  .checkbox-trigger:checked {
    left: 202px;
  }

  .checkbox-trigger:checked + .menu-content .hamburger-menu {
    width: 2em;
    left: 0;
    transition: width 0.7s ease 0.7s;
  }

  .checkbox-trigger:checked + .menu-content .hamburger-menu::before {
    width: 1.2em;
    transform: rotate(-35deg);
    margin-top: -0.4em;
  }

  .checkbox-trigger:checked + .menu-content .hamburger-menu::after {
    width: 1.2em;
    transform: rotate(35deg);
    margin-top: 0.4em;
  }

  .checkbox-trigger:checked + .menu-content ul {
    width: 200px;
    height: 100%;
    text-align: center;
    transition: width 0.7s ease 0.3s, height 0.3s ease;
  }

  .checkbox-trigger:checked + .menu-content {
    background: #b38281;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .menu-content {
    display: flex;
    color: white;
    float: left;
  }

  .titleprincipal {
    font-size: 4em;
  }

  .menu-content ul {
    display: block;
    padding-left: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    width: 0px;
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease 0.7s, width 0.7s ease;
  }

  .menu-content ul li {
    list-style: none;
    padding-top: 15px;
    cursor: pointer;
    font-size: 3em;
    margin-left: 15px;
    transition: color 0.5s, 0.5s;
  }

  #toggle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    height: 40px;
  }

  #toggle:checked ~ ul {
    height: 0%;
  }

  nav h2 {
    border-radius: 2px;
    position: relative;
    background: brown;
    height: 40px;
    text-transform: uppercase;
    color: ivory;
    font-weight: 200;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
  }

  nav ul {
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
    list-style: none;
    overflow: hidden;
    text-align: right;
    margin-bottom: 22px;
    text-align: center;
    transition: all 0.4s ease-out;
  }

  nav ul li {
    border-radius: 20px;
    position: relative;
    display: inline-block;
    margin-left: 35px;
    line-height: 2.5;
    width: 80%;
    margin: 0;
    margin-bottom: 5px;
    background: brown;
  }

  nav ul li:hover {
    background: brown;
    opacity: 0.5;
  }

  nav ul a {
    display: block;
    color: ivory;
    text-transform: lowercase;
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
    transition: color 0.3s;
  }

  #toggle {
    margin-right: 0px;
    margin-left: 0px;
  }

  /*Lien facebook menu */
  .facebookmenu {
    display: block;
    margin-top: 37px;
    margin-left: 15px;
  }

  .facebookmenu a {
    opacity: 0.5;
    color: #bfbfbf;
  }

  .facebookmenu a:hover {
    opacity: 1;
    color: #2a05ff;
  }

  .filtermenu {
    margin: auto;
    margin-top: 40px;
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 40px;
    display: block;
  }

  /*Bouton page aide*/
  .aide {
    top: 10px;
    right: 10px;
    width: 30px;
  }
}
/*Responsive entre 901px & 1499px*/
@media all and (min-width: 901px) and (max-width: 1499px) {
  /*CSS cache block*/
  .img2 {
    display: none;
  }

  .displaynone {
    display: none;
  }

  .checkbox-container {
    display: none;
  }

  /*css general*/
  .font_italic {
    font-size: 1.6em;
  }

  /*Logo du site */
  .divlogo {
    width: 100%;
    text-align: center;
  }

  /*Menu du site */
  .menu1 {
    order: 2;
  }

  .menu2 {
    order: 3;
  }

  nav li {
    margin-left: 0;
  }

  /*Banniere du site*/
  .banniere {
    height: 420px;
  }

  /*Section produit*/
  .card {
    width: 40%;
    margin-left: 60px;
  }

  .card img {
    height: 285px;
  }

  .general {
    margin-left: 0;
  }

  /*Section meilleure vente du mois*/
  .avis2 {
    display: none;
  }

  .chiffretablette {
    display: block;
    padding-left: 50px;
  }

  .avis {
    width: 30%;
  }

  .avis, .avis2 {
    text-align: center;
  }

  .avis img {
    margin-left: 0;
  }
}

/*# sourceMappingURL=responsive.css.map */
