@font-face {
    font-family: "Kaushan"; 
    src: url("../../public/font/Kaushan.woff") format("woff"),       
   }

   h1, h2{
       font-family: "Kaushan";
   }

   nav a {
       font-family: "Kaushan";
       font-size: 1.6em;
   }
