/*Banniere du site*/

.banniere {
    width: 100%;
    height: 550px;
    object-fit: cover;
    box-shadow: 0 0px 20px 2px #a2a2a2;
    animation: fadein 2s 0.5s 1 alternate backwards ;
}

.Linda_banniere{
    object-position: 0 -1080px;
}
/*Section présentation*/

#presentation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    animation: fadein 2s 1s 1 alternate backwards ;
    
}

.menucolor2 {
    color: brown;
}

.menucolor1 {
    color: purple;
}

.menucolor1:hover, .menucolor2:hover {
    color: rgb(224, 98, 255);
}

.rotate {
    transform: scaleX(-1);
}

h2{
    text-align: center;
    font-size: 1.8em;
}