/*Page index.html (Regroupe toute les autres pages*/
#home_page{
    background-color:#ffe5e6;
    background-size: cover; 
}

.home_page{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 200px;
    

    .fee{
        width: 450px;
        transform: scaleX(-1);  
            
    }

    .fee2{
        width: 450px;
    }

    .title{
        font-size: 5rem;
        text-align: center;
        color: #cc9999;
        font-family:  cursive;
       
    }

    .soustitre{
        margin-top: 0px;
        font-size: 2em;
        font-style: italic;
    }

    .center p{
        text-align: center;
    }

    .liste {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}







