@media all and (max-width: 900px) {

  #Section_principal{
    margin: 0;
    img{
      display: none;
      
    }
    .liste_conseillère{
      flex-direction: column;
    }

    .center h1{
      font-size: 2em;
    }

    .soustitre_index{
      font-size: 1em;
    }
  }

.image_profil{
    display: none;
    
}
.banniere{
    height: 220px;
}
.text_profil{
    width: 94%;
    margin-top: 10px;

    p{
      font-size: 1em;

    }
    
}

.enveloppe{
    display: none;
}

.footerright {
  display: none;
}

.question {
  font-size: 0.9em;
}
}

@media all and (min-width:901px) and (max-width: 1499px) {

nav a{
  font-size: 1.3em;
}

.enveloppe {
  width: 280px;
}
}
