@media all and (max-width: 900px) {

    



.image_profil{
    display: none;
    
}
.banniere{
    object-position: initial;
}
.text_profil{
    width: 94%;

    p{
      font-size: 1em;

    }
    
}

.enveloppe{
    display: none;
}

.footerright {
  display: none;
}
}

