@media all and (max-width: 900px) {

    



.image_profil{
    display: none;
    
}
.banniere{
    height: 220px;
}
.text_profil{
    width: 94%;
    margin-top: 10px;

    p{
      font-size: 1em;

    }
    
}

.enveloppe{
    display: none;
}

.footerright {
  display: none;
}

.question {
  font-size: 0.9em;
}
}

