@media all and (max-width: 900px) {
#menuToggle{
    height: 150px;
    position: relative;
}

.ordinateur{
    display: none;
}

.logomobile{
    display: block;
   position: absolute;
   right: 50%;
   left: 40%;
   width: 220px;
   min-width: 100px;
   margin-bottom: 45px;
}
}